# This workflow will install Python dependencies, build a package
# and run tests. If the tests are successful the new package
# will be uploaded to PyPI.

name: Publish Python package

# on:
#  push:
#    tags:
#      - '*'

on: [push]

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6]
    steps:
      - uses: actions/checkout@v2
      - id: setup
        uses: sduenas/poetry-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build package
        run: |
          poetry build
      - name: Test package
        run: |
          PACKAGE_NAME=`(cd dist && ls *whl | cut -f 1 -d "-")`
          pip install --pre --find-links ./dist/ $PACKAGE_NAME
          cd tests && python run_tests.py
      - name: Publish package
        env:
          TESTPYPI_KEY: ${{ secrets.TESTPYPI_KEY }}
        run: |
          poetry config repositories.testpypi https://test.pypi.org/legacy/
          poetry config pypi-token.testpypi "$TESTPYPI_KEY"
          poetry publish -n -vvv -r testpypi
